@page "/detailviewEnrollment/{id}"

<h3>Student Detail</h3>

<p>Student Id : @ViewEnrollment.studentID</p>
<p>First Name : @ViewEnrollment.firstName</p>
<p>Last Name : @ViewEnrollment.lastName</p>
<p>Tanggal Masuk : @ViewEnrollment.enrollmentDate</p>
<p>Id masuk : @ViewEnrollment.enrollmentDate</p>
<p>Grade : @ViewEnrollment.enrollmentID</p>
<p>courseID: @ViewEnrollment.courseID{</p>
<p>Title: @ViewEnrollment.title</p>
<p>Credit: @ViewEnrollment.credits</p>